[submodule "AdjustUI/nlohmann_json"]
	path = AdjustUI/nlohmann_json
	url = git@github.com:nlohmann/json.git
[submodule "AdjustUI/OpenXLSX"]
	path = AdjustUI/OpenXLSX
	url = git@github.com:troldal/OpenXLSX.git
[submodule "AdjustUI/audit_tables_v2/scripts"]
	path = AdjustUI/audit_tables_v2/scripts
	url = git@github.com:v012345/audit_workers.git
[submodule "AdjustUI/pugixml"]
	path = AdjustUI/pugixml
	url = git@github.com:zeux/pugixml.git
